.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 110vh;
  padding: 2vw 4vw 45vw 5vw;
  background: linear-gradient(#363f24, #475d17);
  z-index: 2;
  font-family: "MuseoSansRounded", "Inter", sans-serif;

  .headlines {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2vw;

    .headline-main {
      font-size: clamp(2rem, 5vw, 5rem);
      color: #fff;
      margin-bottom: 10px;
      text-align: center;
    }

    .headline-sub {
      font-size: clamp(0.8rem, 1vw, 1rem);
      color: #fff;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  .benefits-text ul, .opening{
    text-align: left;
    list-style: inside;
    padding: 0;
    margin: auto;
    max-width: 100%;
    color: #fdfdfd;
    font-size: clamp(1rem, 1.5vw, 2rem);

  }

  .benefits-text li, .opening {
    margin-bottom: 1rem;
  }


  .opening{
    font-weight: bold;
  }
  .benefits-text ul{
    line-height: 25px;
  }


  .frames-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    padding-left: 4vw;
    padding-right: 4vw;



    .frame {
      width: 5vw;
      height: 60vh;
      background-color: #fdfdfd;
      cursor: pointer;
      transition: width 0.5s ease-in-out, height 0.5s ease-out;
      margin-left: 10px;
      border-radius: 12px;
      position: relative;
      padding: 2vw;
      box-sizing: border-box;

      .vertical-text {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        position: absolute;
        left: 30%;
        bottom: 60px;
        transform-origin: center;
        white-space: nowrap;
        font-size: clamp(1rem, 1vw, 2rem);
        font-weight: bold;
        cursor: pointer;
      }

      .frame-number {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        color: #8d8c8c;
      }

      &.open {
        position: relative;
        width: 60vw;


        //{ &::before {
        // content: "";
        //  position: absolute;
        // top: 90px;
        //left: 140px;
        //right: 40px;
        //height: 2px;
        // background-color: #b3b3b3;
        // }

        // &::after {
        //  content: "";
        // position: absolute;
        //  bottom: 40px;
        // left: 40px;
        // right: clamp(200px, 12vw, 260px);
        // height: 2px;
        //   background-color:#b3b3b3;
        // }
        .frame-section-title {
          font-size: clamp(1rem, 1.4vw, 1.4rem);
          color: #333;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
        }

        .number-title, .job-title, p {
          text-align: left;
          font-size: clamp(1rem, 1.5vw, 1.5rem);
        }

        .number-title {
          font-size: clamp(20px, 4vw, 24px);

        }


        .job-title {
          font-size: clamp(18px, 3.5vw, 20px);
        }

        h1, h2, h3, p, ul {
          margin: 1vw 0;
          font-size: clamp(0.9rem, 1.2vw, 1.3rem);
          padding-left: 2vw;
        }

        .apply-btn {
          background-color: #bbd93a;
          color: #333333;
          border: none;
          border-radius: 50px;
          padding: 0.1vw 1vw 0.5vw 2vw;
          cursor: pointer;
          position: absolute;
          bottom: 1vw;
          right: 1vw;
          transition: all 0.3s ease-in-out;
          font-weight: bold;
          text-decoration: none;
          font-size: clamp(0.8rem, 1.1vw, 1.1rem);

          &:hover {
            background-color: #dbf574;
          }
          .icon-arrow{
            display: inline-block;
            background-color: #bad73a;
            width: 30px;
            height: 30px;
            margin-left: 0.5vw;
            margin-top: 1vw;



            svg {
              width: 15px;
              height: 15px;
              color: #000000;
            }

            &:hover {
              background-color: #66a632;
            }
          }
        }
      }

    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 6vw 0;
    min-height: auto;
    .benefits-text{
      padding: 6%;
    }

    .frames-container {
      flex-direction: column;
      padding: 1vw 0;

      .frame {
        width: 90%;
        height: 90px; /* Adjust height if necessary */
        margin: 1vw 0; /* Adjust spacing between frames */
        /* ... other styles ... */

        &:nth-child(1) { order: 1; }
        &:nth-child(2) { order: 2; }
        &:nth-child(3) { order: 3; }
        &:nth-child(4) { order: 4; }
        &:nth-child(5) { order: 5; }
        &:nth-child(6) { order: 6; }
        &:nth-child(7) { order: 7; }
        &:nth-child(8) { order: 8; }
        &:nth-child(9) { order: 9; }
        &:nth-child(10) { order: 10; }

        .vertical-text {
          writing-mode: horizontal-tb;
          left: 50%;
          top: 25%;
          transform: translateX(-50%);
          bottom: initial;
          max-width: 10em;
          white-space: normal;
        }

        .frame-number {
          top: 25px;
          left: 12px;
          transform: none;
        }

        &.open {
          display: flex;
          width: 85vw;
          height: 110vh;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          z-index: 1;
          &::before, &::after {
            display: none;
          }

          .number-title, .job-title, p {
            width: 100%;
            text-align: left;
            transform: none;
          }
          h1, h2, h3, p, ul {

            padding-left: 7vw;
          }
          .apply-btn {
            padding: 1vw 1vw 1vw 3vw;
            text-align: center;
            transform: none;

          }
        }
      }
    }
  }

}