.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 50vh;
  padding: 2vw 4vw 45vw 5vw;
  background: linear-gradient(#363f24, #475d17);
  z-index: 2;
  font-family: "MuseoSansRounded", "Inter", sans-serif;

  .headlines {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2vw;

    .headline-main {
      font-size: clamp(2rem, 6vw, 6rem);
      color: #fff;
      margin-bottom: 10px;
      text-align: center;
    }

    .headline-sub {
      font-size: clamp(0.8rem, 1vw, 1rem);
      color: #fff;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .frames-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    padding-left: 4vw;
    padding-right: 4vw;




    .frame {
      width: 6vw;
      height: 32vw;
      background-color: #fdfdfd;
      cursor: pointer;
      transition: width 0.5s ease-in-out, height 0.5s ease-out;
      margin-left: 10px;
      border-radius: 12px;
      position: relative;

      .vertical-text {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        position: absolute;
        left: 30%;
        bottom: 60px;
        transform-origin: center;
        white-space: nowrap;
        font-size: clamp(1rem, 1vw, 2rem);
        font-weight: bold;
        cursor: pointer;
      }

      .frame-number {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        color: #8d8c8c;
      }

      &.open {
        position: relative;
        width: 50vw;
        height: 32vw;


        &::before {
          content: "";
          position: absolute;
          top: 20px;
          left: 50px;
          right: 40px;
          height: 2px;
          background-color: #b3b3b3;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 40px;
          left: 40px;
          right: clamp(200px, 12vw, 250px);
          height: 2px;
          background-color:#b3b3b3;
        }


        .number-title, .job-title, p {
          text-align: left;
          margin: 10px;
        }

        .number-title {
          font-size: clamp(20px, 4vw, 24px);

        }


        .job-title {
          font-size: clamp(18px, 3.5vw, 20px);
        }

        p {
          line-height: clamp(25px, 4vw, 30px);
        }

        .apply-btn {
          background-color: #bbd93a;
          color: #333333;
          border: none;
          border-radius: 50px;
          padding: 0.1vw 1vw 0.5vw 2vw;
          cursor: pointer;
          position: absolute;
          bottom: 1vw;
          right: 1vw;
          transition: all 0.3s ease-in-out;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            background-color: #dbf574;
          }
          .icon-arrow{
            display: inline-block;
            background-color: #bad73a;
            width: 30px;
            height: 30px;
            margin-left: 0.5vw;
            margin-top: 1vw;



            svg {
              width: 15px;
              height: 15px;
              color: #000000;
            }

            &:hover {
              background-color: #66a632;
            }
          }
        }
      }

    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 6vw 0;
    min-height: auto;

    .frames-container {
      flex-direction: column;
      padding: 1vw 0;

      .frame {
        width: 90%;
        height: 50px;
        margin: 2vw 0;
        order: 5;
        &:nth-child(1) { order: 5; }
        &:nth-child(2) { order: 4; }
        &:nth-child(3) { order: 3; }
        &:nth-child(4) { order: 2; }
        &:nth-child(5) { order: 1; }
        .frame-number, .number-title, .job-title, p, .apply-btn {
          transform-origin: center;
        }

        .vertical-text {
          writing-mode: horizontal-tb;
          left: 50%;
          top: 30%;
          transform: translateX(-50%);
          bottom: initial;
        }

        .frame-number {
          top: 14px;
          left: 12px;
          transform: none;
        }

        &.open {
          display: flex;
          width: 85vw;
          height: 90vw;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          z-index: 1;
          &::before, &::after {
            display: none;
          }

          .number-title, .job-title, p {
            width: 100%;
            text-align: left;
            transform: none;
          }

          .apply-btn {
            padding: 1vw 1vw 1vw 3vw;
            text-align: center;
            transform: none;

          }
        }
      }
    }
  }
}