/*
 * MobileBanner  Styling:
   It's a responsive component. It displays the content in a column-reverse
 * layout, center-aligning its child elements. As screen size increases, its layout switches to a row format.
 * Specific styles for h1, h3, p, and the image section are defined for aesthetic and layout purposes.
 */

.MobileBanner {
  &.no-margin {
    margin-top: 0;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 22vw;
  z-index: 2;
  background-color: #fdfdfd;
  font-family: "MuseoSansRounded", "Inter", sans-serif;
  pointer-events: none;
  user-select: none;

  .ourServiceBtn {
    position: absolute;
    left: 5vw;
    top: 1vw;
    font-weight: bold;
    font-size:clamp(0.8rem, 2vw, 1.2rem);
    background-color: transparent;
    color: #16171c;
    padding: 8px 20px;
    border-radius: 50px;

    border: 1px solid #8c8989;
    letter-spacing: 2px;
  }
  #top{
    padding-top: 3em;
  }
  h2, h1 , h4, p {
    align-self: flex-start;
    padding-left: 5vw;
  }
  h2 , h1{
    width: 70%;

  }
  h4{

    margin-top: 1vw;

    font-size: clamp(1rem, 3vw, 1.5rem);
    width: 60%;
  }
  .divider{
    display: none;
  }
  p {
    font-size: clamp(1rem, 1.4vw, 1.9rem);
    padding-bottom: 4vw;
    padding-top: 2vw;
    width: 90%;
  }
  .imageSection {
    width: 100%;
    padding-left: 9vw;
    margin-top: 6rem;
    pointer-events: none;
    user-select: none;
    img {
      width: 90%;
    }
  }
  .rightSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .circle {
      display: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #c1c1c2;
    }
    .topLine, .bottomLine {
      display: none;
    }
    .numbers {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #8d8c8c;
      padding-bottom: 3vw;
      span {
        margin: 0 1vw;
      }
    }
  }

  @media (min-width: 769px) {
    margin-top: 140px;
    padding-bottom: 4vw;
    padding-top: 4vw;

    #top{
      padding-top: 1em;
    }
    .imageSection {
      position: absolute;
      right: 6vw;
      max-width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 800px;
      }
    }
    .divider {
      display: block;
      align-self: flex-start;
      margin-left: 12vw;
      background-color: #c1c1c2;
      width: 2px;
      height: 80px;

    }

    h4{
    padding-bottom: 0.5vw;
      width: 40%;
    }
    h2{
      margin-top: 1vw;

      width: 30%;

    }
    h1{
padding-top: 10px;
      width: 15%;
    }
    p {

      width: 55%;
    }

    h1, h2, h4, p {
      align-self: flex-start;
      padding-left: 12vw;
    }
    .ourServiceBtn{
      align-self: flex-start;
      margin-left: 7vw;


    }
    .rightSection {
      position: absolute;
      right: 5vw;
      top: 6vw;
      flex-direction: column;

      .circle {
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid #c1c1c2;
        background-color: transparent;
      }

      .topCircle {
        margin-bottom: -10px;
      }

      .bottomCircle {
        margin-top: -10px;
      }

      .topLine, .bottomLine {
        display: block;
        height: 8vw;
        width: 2px;
        background-color: #c1c1c2;
      }
      .numbers {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;

        span {
          margin: 1vw 0;

        }
      }
    }
  }
}