// Color Variables
$color-background-banner: #f0f0f0;
$color-background-info: #fdfdfd;
$color-text-primary: #16171c;
$color-line: #6c6d70;
$color-curve: #363f24;

// Typography Variables
$font-primary: "MuseoSansRounded", "Inter", sans-serif;
$font-size-title: clamp(1.8rem, 4vw, 3rem);
$font-size-text-responsive: clamp(0.8rem, 2vw, 1.8rem);


.curvyLine {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 1;
  transform: translateY(15%);
}

.FloatingBanner {
  background-color: $color-background-banner;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  position: relative;
  font-family: $font-primary;
}



.infoContainer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 4%;
  background-color: $color-background-info;
  width: 85%;
  margin: 0 auto;
  border-radius: 20px;
  transform: translateY(-1%);

  > img {
    width: clamp(90%, 25vw + 15%, 80%);
    height: auto;
    margin-bottom: 1rem;
  }

  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1VW;
    padding-bottom: 4vw;
  }

  .infoButton {
    background-color: transparent;
    color: $color-text-primary;
    padding: 8px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #8c8989;
    margin-bottom: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    font-size:clamp(0.8rem, 2vw, 1.2rem);
  }

  .verticalLine {
    display: none;
  }

  h3 {
    text-align: left;
    font-size: $font-size-title;
    margin-bottom: 1rem;

  }

  p {
    font-size: clamp(1rem, 1vw, 1.6rem);
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: left;
  }

}


@media (min-width: 769px) {
  .infoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    > img {
      width: 100%;
      margin-bottom: 0;
    }

    > div {
      align-items: flex-start;
    }

    .verticalLine {
      position: absolute;
      top: 0;
      display: block;
      left: 51%;
      height: 3vw;
      width: 1px;
      background-color: $color-line;

    }
    .infoButton {

      margin-top: 2rem;
    }


  }
}