

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10vw;
  padding-top: 2vw;
  font-family: "MuseoSansRounded", "Inter", sans-serif;
  background-color: #f0f0f0;
  //border-top-left-radius: 50px;
  //border-top-right-radius: 50px;
  position: relative;
  flex-wrap: wrap;
  z-index: 1;



  .column-left, .column-middle, .column-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .column-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2vw;
    padding-bottom: 1vw;
    padding-right: 2vw;
    .footer-logo img {
      max-width: 100%;
      height: auto;
    }

    .footer-rights {
      font-size: clamp(1rem, 3vw, 1.2rem);
      margin-top: 20px;
    }
  }

  h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: bold;
    margin: 10px 0;
    width: 100%;
    color: #6f7072;
  }

  p {
    font-size: clamp(0.8rem, 2vw, 1rem);
    margin: 8px 0;
    padding-bottom: 1vw;
    width: 100%;
    color: #5b5c5d;

  }

  .oval-button {
    background-color: #bbd93a;
    color: #3b3d31;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 8vw;
    font-weight: bold;
    box-shadow: 0 15px 12px 0 rgb(225, 235, 185);

    &:hover {
      background-color: #66a632;
    }
  }

  .column-middle, .column-right {
    padding-top: 4vw;
    padding-bottom: 1vw;
  }

  .footer-contact, .footer-social {
    h3 {
      font-size: clamp(0.85rem, 3vw, 1.2rem);
      font-weight: bold;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;


      li {
        font-size: clamp(1rem, 3vw, 1.2rem);
        display: flex;
        align-items: center;
        margin-bottom: 5px;



        svg {
          width: 24px;
          height: 24px;
          margin-right: 1vw;
          path {
            fill: #eeeeee;
            stroke: #000000;
            stroke-width: 10;
          }
        }
      }
    }
  }

  .footer-social {
    div {
      display: flex;
      gap: 15px;

      .icon-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #bad73a;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin-right: 10px;

        svg {
          width: 16px;
          height: 16px;
          color: #000000;
        }

        &:hover {
          background-color: #66a632;
        }
      }
    }
  }
  @media (min-width: 769px) {
    .footer {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    .column-left, .column-middle, .column-right {
      flex-basis: calc(33.333% - 20px);
      margin-right: 20px;
    }

    .footer-rights {
      flex-basis: 100%;
      order: 4;
      margin-right: 0;
      padding-top: 10px;
      padding-bottom: 2vw;
    }
  }

  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: flex-start;
    }

    .column-left, .column-middle, .column-right {
      width: 100%;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    h2, p{
      width: 70%;
    }
    .column-middle{
      order: 3;
    }

    .footer-rights{
      order: 6;
      width: 100%;
      text-align: left;
      margin-top: 20px;
      padding-bottom: 3vw;
    }

    .oval-button {
      margin-bottom: 20px;
    }

    .icon-circle {
      margin: 0 5px;
    }

    .footer-social div {
      justify-content: center;
    }
  }
}